@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
:root{
    --purple: #5865F2;
    --light: #F6F6F6;
    --dark: #292841;
    --orange: #FF993C;
    --green: #00E175;
    --fGlobal: 'Montserrat', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background-color: var(--light);
    font-family: var(--fGlobal);
    font-weight: 600;
}
.hero{
    margin: 50px 30px 40px;
}
.logo img{
    width: 230px;
    margin-bottom: 18px;
}
.btns button{
    width: 130px;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
}
.btns a{
    font-family: var(--fGlobal);
    font-weight: 600;
    text-decoration: none;
    color: var(--light);
}
.btn1{
    background-color: var(--purple);
    margin-right: 6px;
}
.btn2{
    background-color: var(--light);
    border: 1px solid var(--purple) !important;
}
.btn2 a{
    color: var(--purple);
}
.social-icons{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 0 0;
    cursor: pointer;
}
.social-icons i{
    background-color: var(--dark);
    color: var(--light);
    font-size: 24px;
    padding: 20px;
    clip-path: circle(40%);
}
.events-section{
    margin: 0 0 0 30px;
}
.event-btns button{
    width: auto;
    font-size: 14px;
    padding: 12px 8px;
    position: static;
}
.btn-active{
    background-color: var(--dark);
}
.btn-inactive{
    background-color: var(--light);
    border: 1px solid var(--dark) !important;
}
.btn-inactive a{
    color: var(--dark);
}
.event-cards1 , .event-cards2{
    margin: 20px 30px 0 30px;
    overflow-x: scroll;
}
.upcoming-cards , .previous-cards{
    display: flex !important;
    width: max-content;
}
.event-cards2{
    display: none;
}
.card{
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 8px 6px;
    background-color: var(--dark);
    color: var(--light);
    border-radius: 4px;
}
.card img{
    border-radius: 0px;
}
.card-text{
    padding: 12px 6px;
    line-height: 1.6;
}
.card-btn{
    width: 100%;
    text-align: center;
    background-color: var(--green);
    padding: 12px;
    border-radius: 4px;
}
.card-btn a{
    color: var(--dark);
    text-decoration: none;
}
.card-btn2{
    background-color: var(--purple);
}
.card-btn2 a{
    color: var(--light);
}
.links{
    margin: 40px 30px;
    display: flex;
    flex-direction: column;
}
.links .link{
    background-color: var(--dark);
    padding: 16px 20px;
    margin: 4px 0;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--light);
    font-size: 16px;
}
.linkIcon{
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    clip-path: circle(40%);
}
@media screen and (min-width: 768px) {
    .social-icons , .links .link{
        width: 400px;
    }
    .event-cards1 , .event-cards2{
        overflow-x: visible;
    }
}